# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# input files
*.dat
*.clm
*.clm2
*.clm3
*.nc
*.nc4
*.dat

# output files
*.lpj
*.bin

# processed files
*.Rdata
*.rdata
*.m
*.csv
*.xls
*.xlsx
*.pdf
*.doc
*.docx
