.project
.gitignore
.cproject
.settings/
calc_PHU/tmp/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.DLL
*.so
*.so.*
*.dylib

# Executables
*.exe
*.EXE
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
core
core.*
vgcore.*
core-*

# input files
*.dat
*.DAT
*.clm
*.CLM
*.clm2
*.CLM2
*.clm3
*.CLM3
*.nc
*.NC
*.nc4
*.NC4
*.dat
*.DAT

# output files
*.lpj
*.bin
*.err

# processed files
*.Rdata
*.rdata
*.m
*.N
#*.csv
*.CSV

# Common desktop formats
*.xls
*.XLS
*.xlsx
*.XLSX
*.pdf
*.PDF
*.doc
*.DOC
*.docx
*.DOCX
*.odt
*.ODT
*.ods
*.ODS

# compressed files
*.gz
*.zip

Makefile.inc
# binaries
bin/adddrain
bin/addheader
bin/asc2clm
bin/bin2cdf
bin/cat2bsq
bin/catclm
bin/cdf2clm
bin/cdf2coord
bin/cdf2soil
bin/cft2clm
bin/cfts26_lu2clm
bin/clm2cdf
bin/copyheader
bin/cru2clm
bin/cutclm
bin/cvrtsoil
bin/drainage
bin/getcellindex
bin/getcountry
bin/grd2bsq
bin/grid2clm
bin/joingrid
bin/lpj
bin/lpj_paths.csh
bin/lpj_paths.sh
bin/lpjcat
bin/lpjcheck
bin/lpjfiles
bin/lpjprint
bin/lpjserver
bin/lpjsubmit
bin/mathclm
bin/printclm
bin/printdrain
bin/printharvest
bin/printreservoir
bin/regridclm
bin/regridsoil
bin/river_sections_input_climate
bin/river_sections_input_countrycode
bin/river_sections_input_grid
bin/river_sections_input_irrig
bin/river_sections_input_landuse
bin/river_sections_input_soil
bin/setclm
bin/lpjml
bin/soil2cdf
bin/txt2clm
bin/txt2grid
bin/water_use_input
bin/cdf2bin
bin/cvrtclm
bin/manage2js
bin/headersize
bin/adddrain 2
bin/addheader 2
bin/asc2clm 2
bin/bin2cdf 2
bin/cat2bsq 2
bin/catclm 2
bin/cdf2bin 2
bin/cdf2clm 2
bin/cdf2coord 2
bin/cdf2soil 2
bin/cft2clm 2
bin/cfts26_lu2clm 2
bin/clm2cdf 2
bin/copyheader 2
bin/cru2clm 2
bin/cutclm 2
bin/cvrtclm 2
bin/cvrtsoil 2
bin/drainage 2
bin/getcellindex 2
bin/getcountry 2
bin/grd2bsq 2
bin/grid2clm 2
bin/headersize 2
bin/joingrid 2
bin/lpjcat 2
bin/lpjcheck 2
bin/lpjfiles 2
bin/lpjml 2
bin/lpjprint 2
bin/lpjserver 2
bin/manage2js 2
bin/mathclm 2
bin/printclm 2
bin/printdrain 2
bin/printharvest 2
bin/printreservoir 2
bin/regridclm 2
bin/regridsoil 2
bin/river_sections_input_climate 2
bin/river_sections_input_countrycode 2
bin/river_sections_input_grid 2
bin/river_sections_input_irrig 2
bin/river_sections_input_landuse 2
bin/river_sections_input_soil 2
bin/setclm 2
bin/soil2cdf 2
bin/txt2clm 2
bin/txt2grid 2
bin/water_use_input 2

