.project
.gitignore
.cproject
.settings/
calc_PHU/tmp/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.DLL
*.so
*.so.*
*.dylib

# Executables
*.exe
*.EXE
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
core
core.*
vgcore.*
core-*

# input files
*.dat
*.DAT
*.clm
*.CLM
*.clm2
*.CLM2
*.clm3
*.CLM3
*.nc
*.NC
*.nc4
*.NC4
*.dat
*.DAT
*.swp
*.tmp

# output files
*.lpj
*.bin
*.err

# processed files
*.Rdata
*.rdata
*.m
*.N
#*.csv
*.CSV

# Common desktop formats
*.xls
*.XLS
*.xlsx
*.XLSX
*.pdf
*.PDF
*.doc
*.DOC
*.docx
*.DOCX
*.odt
*.ODT
*.ods
*.ODS

# compressed files
*.gz
*.zip

Makefile.inc
# binaries
bin/adddrain
bin/addheader
bin/asc2clm
bin/bin2cdf
bin/cat2bsq
bin/catclm
bin/cdf2clm
bin/cdf2coord
bin/cdf2soil
bin/cft2clm
bin/cfts26_lu2clm
bin/clm2cdf
bin/copyheader
bin/cru2clm
bin/cutclm
bin/cvrtsoil
bin/drainage
bin/getcellindex
bin/getcountry
bin/grd2bsq
bin/grid2clm
bin/joingrid
bin/lpj
bin/lpj_paths.csh
bin/lpj_paths.sh
bin/lpjcat
bin/lpjcheck
bin/lpjfiles
bin/lpjprint
bin/lpjserver
bin/lpjsubmit
bin/mathclm
bin/printclm
bin/printdrain
bin/printharvest
bin/printreservoir
bin/regridclm
bin/regridsoil
bin/river_sections_input_climate
bin/river_sections_input_countrycode
bin/river_sections_input_grid
bin/river_sections_input_irrig
bin/river_sections_input_landuse
bin/river_sections_input_soil
bin/setclm
bin/lpjml
bin/soil2cdf
bin/txt2clm
bin/txt2grid
bin/water_use_input
bin/cdf2bin
bin/cvrtclm
bin/manage2js
bin/regridirrig
bin/headersize
bin/printglobal
bin/mergeclm
bin/country2cdf
bin/binsum
bin/arr2clm
bin/regriddrain
bin/coupler_demo
bin/cmpbin
bin/statclm
